<?xml version='1.0' encoding='utf-8'?>
<widget id="io.saci-indol.saci" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
<platform name="android">
    <icon src="res/icon/android/SACI.png" density="ldpi" />
    <icon src="res/icon/android/SACI.png" density="mdpi" />
    <icon src="res/icon/android/SACI.png" density="hdpi" />
    <icon src="res/icon/android/SACI.png" density="xhdpi" />
    <icon src="res/icon/android/SACI.png" density="xxhdpi" />
</platform>
    <name>SACI</name>
    <description>Aplicacion movid del Sistema Automatizado para Cultivos de invernader (SACI)</description>
    <author email="sacidevops@gmail.com" href="https://saci-indol.vercel.app/">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="StatusBarOverlayWebView" value="true"/>
    <preference name="StatusBarStyle" value="#lightcontent"/><preference name="StatusBarBackgroundColor" value="#21BA45" />
</widget>
