
:root{
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}
body ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
body{
    background-image: url("../img/body.jpg");
    background-size: cover;
}
#toasts{
    z-index: 1000;
    position: fixed;
    top: 0;
}
.toastify{
    background: transparent !important;
    box-shadow: none;
}
.toastify-top{
    top: auto !important;
}
.toastify-bottom{
    bottom: auto !important;
}
.margin{
    margin-top: 10vh !important;
    margin-bottom: 10vh !important;
}
#navbar{
    backdrop-filter: blur(10px) saturate(180%);
    background-color: #00000080;
}
#content{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px) saturate(40%);
}
#notifications{
    position: sticky;
    transform: translate(0vw, 5vh);
}
#notis{
    max-height: 50vh;
    overflow: auto;
}
#notibtn{
    z-index: 100;
    position:sticky;
    transform: translate(0vw, 5vh);
}
.overcontent{
    overflow: hidden;
}
.spage{
    top: 0;
    width: 100% !important; 
    height: 100% !important;
    display: block !important;
    position: fixed !important;
    overflow: auto !important;
    transition: ease-in-out 0.2s !important;
}
.sendLeft{
    transform: translate(-100vw) !important;
}
.sendRight{
    transform: translate(100vw) !important;
}
.justify{
    /*text-align: justify;*/
}
.invisible{
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
}
.visible{
    opacity: 1;
    visibility: visible;
    transition: 0.2s ease-in-out;
}
